/* You can add global styles to this file, and also import other style files */

:root {
  --color-primary: #0b868f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 22.5em;
  overflow-x: auto;
}
